* {
    box-sizing: border-box;
}

img {
    width: 100%;
    display: inline-block;
}

.title {
    text-align: center;
    color: magenta;
}

.subtitle {
    padding: 1rem;
    text-align: center;
    background-color: rgb(180, 200, 230);
}

.instock { 
    color: green;
}

.outstock {
    color: red;
}

/* Base.html */
.main-container {
    padding: 2rem;
    border: solid gray 2px;
    background-color: aliceblue;
    width: 700px;
    margin: 2rem auto;
}

.footer {
    padding: 2rem;
    color: gainsboro;
    text-align: center;
}
