<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>Create Item</title>
</head>
<body>
    <h2>Create Item by Kenneth Huang</h2>
    <form id="itemform">
        <div>
            <label>
                Name:
                <input id="name" type="text" required>
            </label>
        </div>

        <div>
            <label>
                Price: 
                <input id="price" type="number" required>
            </label>
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>

        <p id="response"></p>
    </form>

    <script>
        document.querySelector("#itemform").addEventListener("submit", async (event) => {
            event.preventDefault();

            const name = document.querySelector("#name").value;
            const price = document.querySelector("#price").value;

            try {
                const response = await fetch("{{ uri }}/items", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({name: name, price: Number(price)}),
                });

                const data = await response.json();
                document.querySelector("#response").innerHTML = `"{{ uri }}/items", Response:\n${JSON.stringify(data)}`;
            } catch (error) {
                document.querySelector("#response").innerHTML = `"{{ uri }}/items", Response: Error\n${error}`;
            }
        });
    </script>
</body>
</html>
