<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} My Base Page {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <header class="title">
        <h1>Welcome to {% block message %} {% endblock %}</h1>
    </header>

    <main class="main-container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        By Kenneth H. | Spring 2026
    </footer>
</body>
</html>
