* {
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body {
    font-family: Arial;
    padding: 1.5rem;
}

.title {
    text-align: center;
    color: #3898db;
}

#upload-form {
    background-color: rgb(240, 250, 255);
    width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 5px;
}

#image-input, .image-submit {
    font-size: 1.2rem;
    padding: 1rem;
    color: rgb(70, 70, 70);
}

#image-input::file-selector-button, .image-submit {
    padding: 0.5rem 1.5rem;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

#image-input::file-selector-button {
    background-color: #4898db;
}

.image-submit {
    background-color: darkblue;
}

#image-imput::file-selector-button:hover, .image-submit:hover {
    background-color: crimson;
}

.subtitle {
    color: darkblue;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    text-align: center;
    width: 300px;
    overflow: hidden;
    border-radius: 8px;
}

#message {
    text-align: center;
    font-size: 1.2rem;
    color: rgb(70, 70, 70);
    font-style: italic;
}
